
ion-modal.canicompet-datetime-button {
  &::part(content) {
    width: 400px;
    height: 500px;
    padding: 0px;
    overflow-y: hidden; overflow-x: hidden;
  }
}

ion-modal.canicompet-datetime-button-time {
  &::part(content) {
    width: 400px;
    height: 550px;
    padding: 0px;
    overflow-y: hidden; overflow-x: hidden;
  }
}


ion-modal.canicompet-datetime-button ion-grid {
  border: 0;
}
ion-modal.canicompet-datetime-button ion-grid ion-row {
  border: 0;
}
ion-modal.canicompet-datetime-button ion-grid ion-col {
  border: 0;
}